venv/
./.DS_Store
./__pycache__/
./LLMController/__pycache__/
./episodeManager/api/__pycache__/
./episodeManager/model/__pycache__/
./episodeManager/chroma/
.env
./KonwlegeManager/__pycache__/
./KnowledgeManager/embedding_model/__pycache__/
./episodeManager/__pycache__/
./used_token.txt
